---
import { Icon } from 'astro-icon/components'
import { type ContactBannerProps as Props } from '@data/props'
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from 'src/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const {
  title = 'hero.avalibe',
  description = 'hero.avalibe',
  showDesc = false,
} = Astro.props
---

<div class='container py-6'>
  <a
    class='group flex cursor-pointer flex-col gap-4 rounded-2xl bg-[url(/img/bg/BG_T3.png)] bg-cover bg-center px-4 py-8 text-center text-neutral-300 shadow-lg md:px-10 xl:px-24'
    href={translatePath('/contact')}
  >
    <h6 class='font-title text-4xl font-semibold md:text-5xl'>
      {t(title)}
    </h6>
    {
      showDesc && (
        <span class='font-body text-sm md:text-base'>{t(description)}</span>
      )
    }

    <span
      class='font-title flex items-center justify-center gap-3 text-xl group-hover:underline'
    >
      {t('contactBanner.button.default')}
      <Icon
        name='tabler:arrow-narrow-right'
        class='text-2xl transition-transform group-hover:-rotate-45'
      />
    </span>
  </a>
</div>
