---
import ContactBenefitCard from '@ui/ContactBenefitCard.astro'
import { ContactForm } from './ContactForm'
import { Benefits } from 'src/data/static/ContactData'
---

<section class='container grid grid-cols-1 gap-10 py-9 lg:grid-cols-2'>
  <ContactForm
    url={Astro.url}
    client:only='react'
  />
  <div class='flex flex-col gap-7'>
    {Benefits.map((Benefit) => <ContactBenefitCard benefit={Benefit} />)}
  </div>
</section>
