---
import Navbar from '@generics/Navbar.astro'
import './src/styles/global.css'
import Footer from '@generics/Footer.astro'
const currentLang = Astro.currentLocale
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro Basics</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
