---
import { Icon } from 'astro-icon/components'
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from 'src/i18n/utils'

const ExperienceYears = new Date().getFullYear() - 2023

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<div class='grid grid-cols-1 gap-4 py-6'>
  <div class='flex gap-1.5'>
    <div
      class='flex basis-3/4 flex-col justify-center gap-4 rounded-xl bg-[url(/img/bg/BG_T3.png)] bg-cover bg-center px-3.5 py-8 shadow-md md:basis-9/10 xl:px-10'
    >
      <h4
        class='font-title text-center text-2xl font-medium text-neutral-300 xl:text-left'
      >
        {t('hero.bento.Tagline')}
      </h4>
      <p class='font-body text-center text-neutral-300 xl:text-left'>
        {t('hero.bento.Description')}
      </p>
    </div>
    <div
      class='*:bg-primary-800 flex basis-1/4 flex-col justify-between gap-4 *:aspect-square *:rounded-xl *:shadow-md md:basis-1/10'
    >
      <a
        class='group hover:bg-primary-400 flex items-center justify-center align-middle transition-colors duration-200'
        href='https://github.com/dsan01'
        title='Github'
        target='_blank'
      >
        <Icon
          name='tabler:brand-github'
          class='text-4xl text-neutral-400 group-hover:text-neutral-700 lg:text-3xl'
          title='Github'
        />
      </a>
      <a
        class='group hover:bg-primary-400 flex items-center justify-center align-middle transition-colors duration-200'
        href='https://www.linkedin.com/in/dsanchez01/'
        title='LinkedIn'
        target='_blank'
      >
        <Icon
          name='tabler:brand-linkedin'
          class='text-4xl text-neutral-400 group-hover:text-neutral-700 lg:text-3xl'
          title='LinkedIn'
        />
      </a>
      <a
        class='group hover:bg-primary-400 flex items-center justify-center align-middle transition-colors duration-200'
        href='/'
        title='Curriculum Vitae'
      >
        <Icon
          name='tabler:certificate'
          class='text-4xl text-neutral-400 group-hover:text-neutral-700 lg:text-3xl'
          title='Curriculum Vitae'
        />
      </a>
    </div>
  </div>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    <div
      class='bg-alert-d-300 relative flex aspect-square justify-end rounded-xl md:aspect-auto'
    >
      <span
        class='from-primary-700/70 absolute inset-x-0 bottom-0 z-0 h-[50%] w-full rounded-xl bg-gradient-to-t to-transparent'
      ></span>
      <div
        class='relative m-5 flex flex-col items-end justify-end *:text-neutral-300'
      >
        <h6 class='font-title relative text-3xl font-medium'>David</h6>
        <p class='font-body relative flex items-center gap-0.5'>
          <Icon
            name='tabler:map-pin'
            class='text-primary-300 animate-wiggle relative text-sm'
          />
          Cali, Colombia
        </p>
      </div>
    </div>
    <div class='grid grid-cols-1 grid-rows-2 gap-4'>
      <div
        class='bg-primary-500 flex items-center justify-between gap-2 rounded-xl p-4 text-neutral-300 shadow-md lg:gap-5'
      >
        <span class='font-title basis-1/3 text-6xl font-medium md:basis-2/5'
          >+ {ExperienceYears}</span
        >
        <span class='font-body basis-2/3 text-2xl font-medium md:basis-3/5'
          >{t('hero.bento.ExperienceYears')}</span
        >
      </div>
      <a
        class='group flex items-center justify-between rounded-xl bg-neutral-400 p-6 text-neutral-800 shadow-md'
        href={translatePath('/contact')}
      >
        <div class='font-title flex flex-col items-center'>
          <span class='text-2xl font-semibold'>Hey!</span>
          <span class='text-sm'>{t('hero.bento.contact')}</span>
        </div>
        <div>
          <Icon
            name='tabler:arrow-right'
            class='text-5xl transition-transform duration-100 group-hover:translate-x-2'
          />
        </div>
      </a>
    </div>
  </div>
</div>
