---
import ServiceCard from 'src/components/ui/ServiceCard.astro'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'
import { FoundationType } from 'src/types/enums'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const serviceCardData = [
  {
    FoundationCategory: FoundationType.Develop,
    titleKey: 'service.long.develop',
    description: 'demo',
  },
  {
    FoundationCategory: FoundationType.Desing,
    titleKey: 'service.long.desing',
    description: 'demo',
  },
  {
    FoundationCategory: FoundationType.Managment,
    titleKey: 'service.long.managment',
    description: 'demo',
  },
]
---

<section class='container py-10'>
  <div class='space-y-7 pt-20'>
    <h3 class='text-primary-700 font-title text-right text-4xl font-medium'>
      {t('projectHelp.title')}
    </h3>
    <p class='font-body text-neutral-800'>
      {t('projectHelp.Description')}
    </p>
  </div>
  <div
    class='grid grid-cols-1 grid-rows-3 gap-5 py-3.5 md:grid-cols-3 md:grid-rows-1 lg:gap-20'
  >
    {
      serviceCardData.map((cardData) => (
        <ServiceCard
          FoundationCategory={cardData.FoundationCategory}
          title={cardData.titleKey}
          description={cardData.description}
          key={cardData.FoundationCategory}
        />
      ))
    }
  </div>
</section>
