---
import { ProjectCard } from '@ui/ProjectCard'
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from 'src/i18n/utils'
import fetchApi from '@lib/strapi'
import type { ProjectType } from '@data/data'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

let projects: ProjectType[] = []
try {
  projects = await fetchApi<ProjectType[]>({
    endpoint: 'projects',
    query: {
      populate: 'thumbnail',
      pagination: {
        start: 0,
        limit: 4,
      },
    },
    wrappedByKey: 'data',
    lang: lang,
  })
} catch (error) {
  console.log(error)
}
---

<section class='container space-y-9 py-10'>
  <div
    class='flex flex-col items-start justify-between gap-4 md:flex-row md:items-center'
  >
    <h3 class='font-title text-primary-700 text-4xl font-medium'>
      {t('projectList.title')}
    </h3>
    {
      projects && projects?.length > 3 && (
        <a
          class='cursor-pointer text-sm font-light text-neutral-500 hover:underline'
          href={translatePath('/projects')}
        >
          {t('projectList.seeMore')}
        </a>
      )
    }
  </div>
  {
    projects &&
      projects.slice(0, 3).map((project) => {
        return (
          <ProjectCard
            project={project}
            url={Astro.url}
          />
        )
      })
  }
  {
    (!projects || projects.length < 1) && (
      <div class='font-body space-y-3 py-10 text-center text-neutral-500'>
        <span class='text-2xl'>(ᵕ—ᴗ—)</span>
        <h6 class='text-2xl font-medium'>
          {t('projects.page.errorProjectsTitlte')}
        </h6>
        <p>{t('projects.page.errorProjectsDesc')}</p>
      </div>
    )
  }
</section>
