---
import Foundations from '@generics/Foundations.astro'
import { FoundationType } from '@data/enums'
import { ServiceSlider } from 'src/data/static/ServiceSliderData'

import { getLangFromUrl, useTranslations } from 'src/i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class='container py-2.5'>
  <div
    class='bg-primary-300 font-title group inline-flex w-full flex-nowrap overflow-hidden rounded-lg py-3 text-xl font-medium text-neutral-800 uppercase shadow-md md:text-2xl'
  >
    <ul
      class='animate-infinite-scroll flex items-center whitespace-nowrap *:mx-2 group-hover:[animation-play-state:paused]'
    >
    {
      ServiceSlider.map((service) => (
      <li>{t(service.text)}</li>
      <li>
        <Foundations
          Foundation={service.icon}
          ClassSize='size-5 md:size-7 '
        />
      </li>
      ))
    }
    </ul>

    <ul
      class='animate-infinite-scroll flex items-center gap-4 whitespace-nowrap group-hover:[animation-play-state:paused]'
      aria-hidden='true'
    >
    {
      ServiceSlider.map((service) => (
      <li>{t(service.text)}</li>
      <li>
        <Foundations
          Foundation={service.icon}
          ClassSize='size-5 md:size-7 '
        />
      </li>
      ))
    }
  </div>
</section>
