---
import { getCollection } from 'astro:content'
import ProjectCard from 'src/components/ui/ProjectCard.astro'
import ProjectCategoryFilter from 'src/components/ui/ProjectCategoryFilter.astro'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'
import { CategoryFilterType } from 'src/types/enums'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const projects = (await getCollection('projects'))
  .filter((post) => post.id.split('/')[0] === lang)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())

const filterOptions = [
  CategoryFilterType.All,
  CategoryFilterType.Desing,
  CategoryFilterType.Develop,
  CategoryFilterType.Managment,
]
---

<section class='container flex flex-col gap-4 py-7'>
  <div class='flex flex-col gap-7'>
    <h3 class='font-title text-primary-700 text-2xl font-medium'>
      {t('projects.page.allProjetcsList')}
    </h3>
    <div class='flex flex-wrap gap-4'>
      {filterOptions.map((type) => <ProjectCategoryFilter category={type} />)}
    </div>
  </div>

  <div class='flex flex-col gap-4'>
    {
      projects.map((project) => {
        return <ProjectCard project={project} />
      })
    }
    {
      (projects?.length ?? 0) < 3 && (
        <div class='font-body space-y-3 text-center text-neutral-500'>
          <p class='text-2xl'>¯\_(ツ)_/¯</p>
          <p class='text-lg'>{t('projects.page.futureProjects')}</p>
        </div>
      )
    }
  </div>
</section>

<script>
  import { selectedFilter } from 'src/store/SelectedFilterStore'
  import { getElements } from '@lib/dom-selector'
  import { CategoryFilterType } from 'src/types/enums'

  selectedFilter.subscribe((category) => {
    const projectCards = getElements(
      '.project-card'
    ) as NodeListOf<HTMLDivElement>

    if (category == CategoryFilterType.All) {
      projectCards.forEach((projectCard) => {
        projectCard.classList.remove('hidden')
        projectCard.classList.add('flex')
      })
    } else {
      projectCards.forEach((projectCard) => {
        if (projectCard.classList.contains(`category-${category}`)) {
          projectCard.classList.remove('hidden')
          projectCard.classList.add('flex')
        } else {
          projectCard.classList.remove('flex')
          projectCard.classList.add('hidden')
        }
      })
    }
  })
</script>
