---
import Foundations from '@generics/Foundations.astro'
import { FoundationType } from '@data/enums'
import { type CategoryFoundationProps as Props } from '@data/props'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { category } = Astro.props
const FinalCategory = parseInt(category)

const Trasnlation = (type: FoundationType) => {
  switch (type) {
    case FoundationType.Desing:
      return t('service.desing')
    case FoundationType.Develop:
      return t('service.develop')
    case FoundationType.Managment:
      return t('service.managment')
  }
}
---

<div
  class='bg-primary-300 group flex items-center gap-2.5 rounded-full px-3 py-1 transition-all'
>
  <Foundations
    Foundation={FinalCategory}
    ClassSize='size-4'
  />
  <span class='font-body text-xs group-hover:block md:hidden'>
    {Trasnlation(FinalCategory)}
  </span>
</div>
