---
import type { ServiceCardProps as Props } from 'src/types/props'
import Foundations from '@generics/Foundations.astro'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'

const { FoundationCategory, title, description } = Astro.props

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div
  class='flex flex-col justify-between gap-5 rounded-xl bg-[url(/img/bg/BG_T4.png)] bg-cover bg-center px-3 py-3.5 shadow-md'
>
  <div class='flex items-center gap-3.5'>
    <Foundations
      Foundation={FoundationCategory}
      ClassSize='size-10'
      ClassColor='fill-neutral-300'
    />
    <h6 class='font-title text-2xl font-semibold text-neutral-300'>
      {t(title)}
    </h6>
  </div>
  <div
    class='font-body flex items-center rounded-md bg-neutral-400 p-1.5 text-neutral-800'
  >
    <p>
      {t(description)}
    </p>
  </div>
</div>
